<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container px-4">
        <a class="navbar-brand fw-bold" routerLink="/tienda">GameStock</a>
    </div>
</nav>

<div class="container mt-4">

    <h2 class="mb-4 text-center">Finalizar Pago</h2>

    <!-- RESUMEN DE PRODUCTOS -->
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-dark text-white">Resumen de productos</div>

        <div class="card-body">

        <table class="table table-bordered text-center">
            <thead class="table-dark">
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Imagen</th>
            </tr>
            </thead>

            <tbody>
            @for (item of carrito; track $index) {

            <tr>
                <td>{{ item.nombre }}</td>

                <td>S/ {{ item.precio | number:'1.2-2' }}</td>

                <td>{{ item.cantidadSeleccionada }}</td>

                <td>
                    S/
                    {{ (item.precio * item.cantidadSeleccionada) | number:'1.2-2' }}
                </td>

                <td>
                    <img 
                    [src]="'assets/images/' + item.imagen + '.jpg'"
                    width="70" height="70" class="rounded shadow-sm">
                </td>
            </tr>

            }
            </tbody>
        </table>

        <!-- TOTAL -->
        <h4 class="text-end">
                Total a pagar: 
                <span class="fw-bold text-success">S/ {{ total | number:'1.2-2' }}</span>
        </h4>

        <h2 class="text-center mb-4">Confirmar Pago</h2>


    <!-- MÉTODOS DE PAGO -->
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">Método de Pago</div>

            <div class="card-body">

            <form (submit)="procesarPago()">

            <!-- SELECCIÓN -->
                <label class="form-label">Seleccione un método:</label>

                <select class="form-select mb-3" [(ngModel)]="metodoPago" name="metodoPago" required>
                    <option value="">-- Selecciona --</option>
                    <option value="tarjeta">Tarjeta de Crédito / Débito</option>
                    <option value="yape">Yape</option>
                </select>

        <!-- TARJETA -->
            <div *ngIf="metodoPago === 'tarjeta'" class="border p-3 mb-3 rounded bg-light">
                <h5 class="mb-3">Pago con Tarjeta</h5>

                <input type="text" maxlength="16" minlength="16"
                class="form-control mb-2"
                placeholder="Número de tarjeta (16 dígitos)"
                [(ngModel)]="tarjeta.numero"
                name="tarjetaNumero">

            <div class="row">
                <div class="col">
                    <input type="text" maxlength="5" minlength="5"
                    class="form-control mb-2"
                    placeholder="MM/AA"
                    [(ngModel)]="tarjeta.fecha"
                    name="tarjetaFecha">
            </div>

            <div class="col">
                <input type="text" maxlength="3" minlength="3"
                class="form-control mb-2"
                placeholder="CVV"
                [(ngModel)]="tarjeta.cvv"
                name="tarjetaCVV">
            </div>
        </div>
    </div>

        <!-- YAPE -->
    <div *ngIf="metodoPago === 'yape'" class="border p-3 mb-3 rounded bg-light">
        <h5 class="mb-3">Pago con Yape</h5>

        <input type="text" maxlength="9" minlength="9"
            class="form-control mb-2"
            placeholder="Número de celular (9 dígitos)"
            [(ngModel)]="yape.numero"
            name="yapeNumero">
        </div>

        <button type="submit" class="btn btn-success btn-lg w-100">
            Confirmar Pago
        </button>


    </form>

    <button routerLink="/carrito" type="submit" class="mt-3 btn btn-danger btn-lg w-100">
        Cancelar Compra
    </button>
    </div>
</div>

</div>

